.main-slider-sec {
    margin-top: 12px;
    margin-bottom: 11px;
    overflow: hidden;
}

.main-slider {
    position: relative;

    ///////////dots///////////
    .owl-dots.disabled {
        display: block;
    }

    .owl-dots {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            bottom: 5px;
        }
    }

    button.owl-dot {
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.502);
        width: 8px;
        height: 8px;
        border: none;
        outline: none;
        box-shadow: none;
        @include transition(all 0.3s ease-in-out);
        margin: 0 3.5px;

        &:hover {
            background: #fff;
        }

        &.active {
            background: #fff;
        }

        @include xs {
            width: 10px;
            height: 10px;
        }
    }


    ///////////navs///////////
    .owl-carousel .owl-nav.disabled {
        display: block;
    }

    .owl-nav {
        width: 0;
        height: 0;

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(0, 0, 0, 0.502);
            font-size: 18px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            box-shadow: none;
            @include transition(all 0.3s ease-in-out);

            &.owl-prev {
                right: 20px;
                justify-content: flex-start;
            }

            &.owl-next {
                left: 20px;
                justify-content: flex-end;
            }

            &:hover {
                color: $gold;
            }
        }
    }

}

.Ellipse_2 {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    position: absolute;
    left: 673px;
    top: 725px;
    width: 8px;
    height: 8px;
    z-index: 187;
}