.close-btn {
    display: none;

    @include xs {
        display: block;
        position: absolute;
        top: 25px;
        font-size: 15px;
        cursor: pointer;
        color: #bbbbbb;
    }
}

.navbar-cont {
    .lang {
        display: none;
    }

    @include xs {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: rgba($back, 0.5);
        border: none;
        opacity: 1 !important;
        display: none;

        .mo-navbar {
            height: auto;
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #fff;
            width: 0;
            padding-top: 80px;
            overflow: hidden;
            right: 0;
            transform-origin: right;
            //transform: scaleX(0);
            @include transition(all 0.4s linear);
        }

        .nav-in {
            //transform: scaleX(1);
            width: 280px;
            @include transition(all 0.4s linear);
        }

        .nav-li {
            //margin-left: 0;
            margin: 7px 0;
            padding: 0 25px;

            &:last-of-type {
                margin-left: 0;
            }
        }

        .nav-anchor {
            color: $blue;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .lang {
            display: block;
        }

        .close-btn {
            left: 25px;
        }
    }

}

#{$ltr} .navbar-cont {

    @include xs {
        .mo-navbar {
            right: auto;
            left: 0;
        }

        .nav-li {
            margin: 7px 0;

            &:last-of-type {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .close-btn {
            right: 25px;
            left: auto;
        }
    }

}


.search-form {
    @include xs {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($back, 0.9);
        z-index: 99;
        padding-top: 175px;

        .search-cont {
            width: 350px;
            margin: auto;
        }

        .search-input {
            background-color: #fff;
            width: 100%;
            color: #bbbbbb;

            &::placeholder {
                color: #bbbbbb;
            }
        }

        .close-btn {
            left: 50%;
            transform: translateX(-50%);
        }
    }

}