.footer {
    background-color: $blue;
    padding-top: 67px;
    margin-top: 31px;
    padding-bottom: 66px;
    overflow: hidden;

    @include xs {
        padding-top: 31px;
        padding-bottom: 31px;
    }
}

.foot-header {
    font-size: 17px;
    font-family: 'Frutiger-bold';
    color: #fff;
    margin-bottom: 18px;

    @include xs {
        text-align: center;
    }
}

.nav-foot-link {
    color: #85a0c4;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    font-size: 14.95px;

    &:hover,
    &:focus {
        color: #fff;
        transform: translateX(-8px);
    }
}

.nav-foot-li {
    margin-bottom: 7px;
}

.news-sub-header {
    color: #85a0c4;
    font-size: 15px;
    margin-bottom: 25px;

    @include xs {
        text-align: center;
    }
}

.news-letter {
    @include sm {
        margin: 30px 0 0;
    }
}

.sec-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;

    @include sm {
        margin-top: 30px;
    }

    @include xs {
        flex-direction: column;
        justify-content: center;
    }
}

.copytight {
    display: flex;
    color: #85a0c4;
    align-items: center;
    font-size: 15px;
    margin-bottom: 22px;

    img {
        margin: 0 5px;
    }

    .tasawk {
        margin: 0 4px;

        @include xs {
            margin: 5px 0 0;

        }
    }

    @include xs {
        flex-direction: column;
        justify-content: center;
        order: 2;
        margin-bottom: 0;
    }
}

.payment {
    @include xs {
        margin: 25px auto;
        order: 1;
    }
}

.right-footer {
    @include xs {
        order: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.left-footer {
    width: 360px;

    @include xs {
        width: auto;
        order: 1;
    }
}

.social-header {
    @include xs {
        text-align: center;
    }
}

.social {
    display: flex;
    align-items: center;

    @include xs {
        justify-content: center;
    }
}

.social-link {
    border-radius: 50%;
    background-color: #335179;
    margin-left: 8px;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    @include transition(all 0.3s ease-in-out);

    &:last-of-type {
        margin: 0;
    }

    &:hover {
        color: #fff;
        background-color: $gold;
    }

}